//Colors
$lightgray:#333;
$blue:#047aed;
$white:#fff;
$inputgray:#b4becb;
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

//grid
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    height: 100%;

}

//card
.card {
    background-color: $white;
    color: $lightgray;
    border-radius: 10px;
    box-shadow: 0 3px 10px $white;
    padding: 20px;
    margin: 10px;
}

